@media screen and (min-width: 600px) 
{
 
	/*====HEADER====*/
	#header
	{
		margin-bottom: 0;
		height: 60px;
	}
	
	#logo img
	{
		width: 200px;
		height: auto;
	}
	
	#menu
	{
		margin-top: 10px;
	}
	
	nav
	{
		margin-top: 40px;
	}
	
	/*====END OF HEADER====*/

	/*====PAGE TITLE====*/
	.pageTitle p
	{
		max-width: 660px;
		font-size: 110%;
	}
	/*====END OF PAGE TITLE====*/

	/*====CARD====*/
	.card
	{
		width: 300px;
		height: 350px;
	}
	/*====END OF CARD====*/

	/*====HORIZONTAL CARD LIST====*/
	.horizontalCardList
	{

	}

	.horizontalCardList .card
	{
		max-width: 300px;
	}

	/*====END OF HORIZONTAL CARD LIST====*/
}


@media screen and (min-width: 500px) 
{

	.footer_column
	{
		width: 400px;
	}
	
	footer #friends
	{
		width: 400px;
	}
	
	footer #friends a
	{
		padding-top:10px;
		margin-right: 7%;
		display: inline-block;
	}
	
	footer #friends a:last-child
	{
		margin-right: 0;
	}
	
		footer #friends img
	{
		width: 100px;
		height: auto;

	}
	
	.feature .desc
	{
		width: 75%;
	}

}

