.dark-grey
{
	background-color: #818181;
	background-image: url("../images/pattern_dark_grey.png");
    background-repeat: repeat;
	background-attachment: fixed;
}

.center
{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.center-vertical
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.blog-main-container
{
	min-height: 100%;
	width: 100%;
	position: absolute;
	padding-bottom: 40px;
}

.blog-inner-container
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/*== SIDEBAR ==*/
#blog-sidebar
{
	background-color: #f8f8f8;
	width: 250px;
	min-height: 800px;
	margin-top: 20px;
	margin-right: 40px;	
	float:left;
	display:none;
}

#tabs
{
	text-align: justify;
}

.tab
{
	width: 50%;
	height: 50px;
	line-height: 50px;
	font-size: 1.1em;
	font-weight: bold;
	display: inline-block;
	background-color: #c0c0c0; /*rgba(192,192,192,.9);*/
	cursor: pointer;
}

.tab#selected
{
	background-color: #f8f8f8;
}

#posts-list
{
	overflow-Y: auto;
	max-height: 95vh;
}

.list-post-info
{
	height: 70px;
	border-bottom: 1px solid lightgrey;
	cursor: pointer;
	position: relative;
}

.list-post-info .prog-bar /*replace with span?*/
{
	display: block;
	position: absolute;
	top:0;
	left:0;
	height: 100%;	
	width: 0;
	background-color: rgba(110, 149, 243, 0.4)
}

.list-post-info:hover
{
	color: #6e95f3;
}

.list-post-title
{
	font-weight: bold;
	text-align: left;
	padding-left: 20px;
	padding-right: 10px;
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.list-post-date
{
	font-size: 0.8em;
	text-align: left;
	padding-left: 20px;
	color: grey;
}


/*== POSTS ==*/


#blog-content
{
	width: 96%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.post-info
{
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 40px;
	background-color: #6e95f3;
	color: #fff;
}

.post-title
{
	text-align:	left;
	margin-top: 0;
	margin-left: 8.88%; /*80px;*/
	margin-right: 14.44%; /*130px;*/
	margin-bottom:5px;
	font-size: 1.5em; /*185%;*/
}

.post-date
{
	text-align: right;
	margin-right: 4%;
}

.blog-post
{
	
	background-color: #fff;
	margin-top: 20px;
	padding-bottom: 40px;
}

.blog-post p
{
	text-align: justify;
	line-height: 1.5;
	padding-left: 4%;
	padding-right: 4%;
}

.blog-post a
{
	/*text-decoration: none;
	color: tomato;*/
	color: black;
}

.blog-post ul,ol
{
	margin:0;
	padding-left: 4%;
	padding-right: 4%;
	text-align: left;
	margin-bottom: 16px;
}

.blog-post lh
{
	line-height: 1.5;
}

.blog-post li
{
	text-align: left;
	margin-left: 4%;
	margin-right: 4%;
}

.blog-post li p
{
	padding-left: 4%;
	padding-right: 4%;
}

p.quote-block
{
	font-size:104%;
	font-weight: bold;
	padding-left: 10%;
	padding-right: 10%;
}


/*==images==*/
/*
* a container is not actually needed for landscape photos
*
* Setting the img's width to 77.77% and it's height to auto does the trick
* The img will be sized as intended whether .single-landscape is applied to it or to a parent container
*
* Added to keep consistent coding structure to make it easier for future maintainer
*/


.group-portrait img, .group-landscape img, .single-landscape-container img, .single-portrait-container img
{
	cursor: pointer;
}

.blog-post .single-landscape-container
{
	width: 88%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	 
}

.blog-post .single-landscape
{
	width: 100%;
	height: auto;
}

.blog-post .single-portrait-container
{
	width: 66.66%; /*600px;*/
	max-height: 800px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	 
}

.blog-post .single-portrait
{
	width: 100%;
	height: auto;
}

.blog-post .group-landscape, .group-portrait
{
	width: 88%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.thumbnails .thumbnail-container
{
	overflow: hidden;
}

.blog-post .group-landscape .thumbnails
{
	text-align: justify; /*evenly distributes inline containers*/
	
	/*hides fake last line*/
	/*height: 200px;*/
	overflow: hidden;
}

.blog-post .group-landscape .thumbnails:after /*fake last line; required because of the justification specification: the last line in paragraphs is not justified*/
{
	content: "";
	width: 100%;
	display: inline-block;
}

.blog-post .group-landscape .thumbnail-container
{
	display: inline-block;
	
	/*trick to maintain the aspect ratio of the container (responsive)
	*
	* e.g. width: 50%;
	*		height: 0;
	*		padding-bottom: 50%;
	*
	*	The width of this container is set some where else
	*/
	height: 0;
	padding-bottom: 30%;
	
	/*needed to centre img inside the container with absolute positioning*/
	position: relative;
}

.group-landscape .thumbnail-container .center
{
	position: absolute;
}

/*width of containers if there are 2 thumbnails*/
.group-landscape .thumbnail-container:nth-child(1):nth-last-child(2),
.group-landscape .thumbnail-container:nth-child(2):nth-last-child(1)
{
	width: 49.5%;
}

/*width of containers of there are 3 thumbnails*/
.group-landscape .thumbnail-container:nth-child(1):nth-last-child(3),
.group-landscape .thumbnail-container:nth-child(2):nth-last-child(2),
.group-landscape .thumbnail-container:nth-child(3):nth-last-child(1) 
{
	width: 32.5%;
}

.additional-imgs
{
	display: none;
}


.blog-post .group-portrait .portrait-container
{
	/*display: inline-block;*/
	float: left;
	width:60%;
	height: 500px;
	overflow: hidden;
}

.blog-post .group-portrait .thumbnails
{
	/*display: inline-block;*/
	float: right;
	width: 39%;
	height: 500px;
	overflow: hidden;
}

.blog-post .group-portrait .thumbnails .thumbnail-container
{	
	width: 100%;
	margin-bottom: 5px;
}

.group-portrait .thumbnails .thumbnail-container:last-child
{
	margin-bottom: 0;
}

/*2 thumbnails*/
.group-portrait .thumbnail-container:nth-child(1):nth-last-child(2),
.group-portrait .thumbnail-container:nth-child(2):nth-last-child(1)
{
	height: 50%;
}

/*3 thumbnails*/
.group-portrait .thumbnail-container:nth-child(1):nth-last-child(3),
.group-portrait .thumbnail-container:nth-child(2):nth-last-child(2),
.group-portrait .thumbnail-container:nth-child(3):nth-last-child(1) 
{
	height: 33.33%;
}

.group-portrait .thumbnail-container:nth-child(n+4), .group-landscape .thumbnail-container:nth-child(n+4)
{
	display: none;
}

.group-portrait .thumbnails .thumbnail-container img
{
	
}

.full-width
{
	width: 100%;
	height: auto; /*fix with js if height doesn't cover the height of the container*/
}

.full-height
{
	height: 100%;
	width: auto;
}

#overlay-theatre
{
	width: 100%;
	height: 100%;
	background-color: rgba(25, 25, 25, 0.5);
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
	display: none;
}

#overlay-theatre #inner-theatre-container
{
	width: 100%;
	height: 100%;
	/*padding: 40px;*/
	background-color: black;
}

#overlay-theatre #inner-theatre-container .theatre-img
{
	max-width: 100%;
	max-height: 100%;
}

#overlay-theatre #inner-theatre-container .center
{
	position: absolute;
}

#inner-theatre-container #previous-arrow, #inner-theatre-container #next-arrow
{
	position: absolute;
	opacity: 0.3;
	top: 50%;
	cursor: pointer;
}

#overlay-theatre #inner-theatre-container #previous-arrow
{
	left: 0;
	z-index: 9999;
	transform: translateY(-50%) rotate(180deg);
	-ms-transform: translateY(-50%) rotate(180deg);
	-webkit-transform: translateY(-50%) rotate(180deg);
}

#overlay-theatre #inner-theatre-container #next-arrow
{
	right: 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

#overlay-theatre #inner-theatre-container #exit
{
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(255,255,255,0.7);
	
	width:40px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	font-size: 150%;
	
	cursor: pointer;
}

/*========*/

.blog-post iframe
{
	width: 71.11%;
	height: 360px;
}

/*== Basic Styling ==*/

.underline
{
	text-decoration: underline;
}

.overline
{
	text-decoration: overline;
}

.line-thru
{
	text-decoration: line-through
}

.bold
{
	font-weight: bold;
}

.italic
{
	font-style: italic;
}


html {
    overflow: auto;
}


/* ==Scrollbar==*/
::-webkit-scrollbar 
{
    width: 8px;
}
#blog-sidebar ::-webkit-scrollbar
{
    width: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    /*-webkit-border-radius: 5px;*/
    /*border-radius: 5px;*/
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
    /*-webkit-border-radius: 5px;
    border-radius: 5px;*/
    background: rgba(30,144,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive 
{
	background: rgba(30,144,255, 0.4); 
}




@media screen and (min-width: 1280px) 
{

	.blog-inner-container
	{
		max-width: 1500px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#blog-sidebar
	{
		background-color: #f8f8f8;
		width: 250px;
		min-height: 800px;
		margin-top: 20px;
		margin-right: 40px;	
		float:left;
		
		display: block;
	}

	#blog-content
	{
		float: right;
		width: 70%;
		max-width: 800px;
	}

	
	.post-info
	{
		padding-top: 20px;
		padding-bottom: 10px;
		margin-bottom: 40px;
		background-color: #6e95f3;
		color: #fff;
	}

	.post-title
	{
		text-align:	left;
		margin-top: 0;
		margin-left: 8.88%; /*80px;*/
		margin-right: 14.44%; /*130px;*/
		margin-bottom:5px;
		font-size: 2em; /*185%;*/
	}

	.post-date
	{
		text-align: right;
		margin-right: 8.88%;
	}

	.blog-post
	{
		
		background-color: #fff;
		margin-top: 20px;
		padding-bottom: 40px;
	}

	.blog-post p
	{
		text-align: justify;
		line-height: 1.5;
		padding-left: 8.88%;
		padding-right: 8.88%;
	}

	.blog-post a
	{
		text-decoration: none;
		color: tomato;
	}

	.blog-post ul,ol
	{
		margin:0;
		padding-left: 8.88%;
		padding-right: 8.88%;
		text-align: left;
		margin-bottom: 16px;
	}

	.blog-post lh
	{
		line-height: 1.5;
	}

	.blog-post li
	{
		text-align: left;
	}

	.blog-post li p
	{
		padding-left: 4%;
		padding-right: 4%;
	}

	p.quote-block
	{
		font-size:105%;
		font-weight: bold;
		padding-left: 15%;
		padding-right: 15%;
	}

	.blog-post .single-landscape-container
	{
		width: 77.77%;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		 
	}

	.blog-post .single-landscape
	{
		width: 100%;
		height: auto;
	}

	.blog-post .single-portrait-container
	{
		width: 66.66%; /*600px;*/
		max-height: 800px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		 
	}

	.blog-post .single-portrait
	{
		width: 100%;
		height: auto;
	}

	.blog-post .group-landscape, .group-portrait
	{
		width: 77.77%;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
	}

	.thumbnails .thumbnail-container
	{
		overflow: hidden;
	}

	.blog-post .group-landscape .thumbnails
	{
		text-align: justify; /*evenly distributes inline containers*/
		
		/*hides fake last line*/
		/*height: 200px;*/
		overflow: hidden;
	}

	.blog-post .group-landscape .thumbnails:after /*fake last line; required because of the justification specification: the last line in paragraphs is not justified*/
	{
		content: "";
		width: 100%;
		display: inline-block;
	}

	.blog-post .group-landscape .thumbnail-container
	{
		display: inline-block;
		
		/*trick to maintain the aspect ratio of the container (responsive)
		*
		* e.g. width: 50%;
		*		height: 0;
		*		padding-bottom: 50%;
		*
		*	The width of this container is set some where else
		*/
		height: 0;
		padding-bottom: 30%;
		
		/*needed to centre img inside the container with absolute positioning*/
		position: relative;
	}

	.group-landscape .thumbnail-container .center
	{
		position: absolute;
	}

	/*width of containers if there are 2 thumbnails*/
	.group-landscape .thumbnail-container:nth-child(1):nth-last-child(2),
	.group-landscape .thumbnail-container:nth-child(2):nth-last-child(1)
	{
		width: 49.5%;
	}

	/*width of containers of there are 3 thumbnails*/
	.group-landscape .thumbnail-container:nth-child(1):nth-last-child(3),
	.group-landscape .thumbnail-container:nth-child(2):nth-last-child(2),
	.group-landscape .thumbnail-container:nth-child(3):nth-last-child(1) 
	{
		width: 32.5%;
	}

	.additional-imgs
	{
		display: none;
	}


	.blog-post .group-portrait .portrait-container
	{
		/*display: inline-block;*/
		float: left;
		width:60%;
		height: 500px;
		overflow: hidden;
	}

	.blog-post .group-portrait .thumbnails
	{
		/*display: inline-block;*/
		float: right;
		width: 39%;
		height: 500px;
		overflow: hidden;
	}

	.blog-post .group-portrait .thumbnails .thumbnail-container
	{	
		width: 100%;
		margin-bottom: 5px;
	}

	.group-portrait .thumbnails .thumbnail-container:last-child
	{
		margin-bottom: 0;
	}

	/*2 thumbnails*/
	.group-portrait .thumbnail-container:nth-child(1):nth-last-child(2),
	.group-portrait .thumbnail-container:nth-child(2):nth-last-child(1)
	{
		height: 50%;
	}

	/*3 thumbnails*/
	.group-portrait .thumbnail-container:nth-child(1):nth-last-child(3),
	.group-portrait .thumbnail-container:nth-child(2):nth-last-child(2),
	.group-portrait .thumbnail-container:nth-child(3):nth-last-child(1) 
	{
		height: 33.33%;
	}

	.group-portrait .thumbnail-container:nth-child(n+4), .group-landscape .thumbnail-container:nth-child(n+4)
	{
		display: none;
	}

	.group-portrait .thumbnails .thumbnail-container img
	{
		
	}
	
	
	
	
	#overlay-theatre
	{
		width: 100%;
		height: 100%;
		background-color: rgba(25, 25, 25, 0.5);
		position: fixed;
		top:0;
		left:0;
		z-index: 999;
		display: none;
	}

	#overlay-theatre #inner-theatre-container
	{
		width: 80%;
		height: 80%;
		padding: 40px;
		background-color: black;
	}

	#overlay-theatre #inner-theatre-container .theatre-img
	{
		max-width: 100%;
		max-height: 100%;
	}

	#overlay-theatre #inner-theatre-container .center
	{
		position: absolute;
	}

	#inner-theatre-container #previous-arrow, #inner-theatre-container #next-arrow
	{
		position: absolute;
		opacity: 0.8;
		top: 50%;
		cursor: pointer;
	}

	#overlay-theatre #inner-theatre-container #previous-arrow
	{
		left: 0;
		z-index: 9999;
		transform: translateY(-50%) rotate(180deg);
		-ms-transform: translateY(-50%) rotate(180deg);
		-webkit-transform: translateY(-50%) rotate(180deg);
	}

	#overlay-theatre #inner-theatre-container #next-arrow
	{
		right: 0;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}

	#overlay-theatre #inner-theatre-container #exit
	{
		position: absolute;
		right: 0;
		top: 0;
		background-color: rgba(255,255,255,0.7);
		
		width:40px;
		height: 40px;
		line-height: 40px;
		font-weight: bold;
		font-size: 150%;
		
		cursor: pointer;
	}
	
}

/*@media screen and (min-width: 1290px) 
{

	.blog-inner-container
	{
		max-width: 1500px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#blog-sidebar
	{
		background-color: #f8f8f8;
		width: 250px;
		min-height: 800px;
		margin-top: 20px;
		margin-right: 40px;	
		float:left;
		
		display: block;
	}

	#blog-content
	{
		float: right;
		width: 70%;
		max-width: 800px;
	}

	
}*/
