@media screen and (min-width: 600px) 
{
 /* ...desktop styles here... */ 
 
 body{
 background-color: green;
 }
	/*====HEADER====*/
	

	
	/*====END OF HEADER====*/

	/*====PAGE TITLE====*/
	.pageTitle p
	{
		max-width: 660px;
		font-size: 110%;
	}
	/*====END OF PAGE TITLE====*/

	/*====CARD====*/
	.card
	{
		background-color: #f8f8f8;
		width: 300px;
		height: 350px;
		border-bottom: 2px solid #7db1e1;
	}

	.icon
	{
		
	}

	.card h2
	{


	}
	/*====END OF CARD====*/





	/*====HORIZONTAL CARD LIST====*/
	.horizontalCardList
	{

	}

	.horizontalCardList .card
	{
		max-width: 300px;
	}

	.horizontalCardList h2
	{

	}

	.horizontalCardList p
	{
		
		
	}

	.horizontalCardList .icon
	{

	}

	/*====END OF HORIZONTAL CARD LIST====*/

	/*====SLIDESHOW====*/

	.slideshow
	{
		
	}

	.slideshowImg
	{
		
	}

	.slideshowBtns
	{
		
	}

	.slideshowBtns ul
	{
		
	}

	.slideshowBtns ul li
	{
		
	}

	/*====END OF SLIDESHOW====*/

	
	/*====CONTACT====*/
	.contactContainer
	{

	}

	/*====END OF CONTACT====*/




	#desc
	{
		width: 550px;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}
}