@media screen and (min-width: 600px) 
{
 /* ...desktop styles here... */ 
 
 body{
 background-color: green;
 }
 /*====HEADER====*/
	#header
	{

	}

	#logo 
	{
		display: inline-block;
		margin-right: 50px;
	}

	#logo img
	{
		width: 150px;
		height: auto;
	}

	nav
	{
		display: inline-block;
		vertical-align: top;
	}

	nav ul 
	{
		list-style-type: none;
		text-transform:uppercase;
		font-size: 18px;
		position: relative;
		display: inline-table;
	}

	nav ul:after 
	{
		content: ""; 
		clear: both; 
		display: block;
	}
		
	nav ul li
	{
		display: inline-block;
		padding-right: 40px;
	}

	nav ul li a
	{
		color: #818181;
		text-decoration: none;
	}

	nav ul ul 
	{
		display: none;
		position: absolute;
		padding: 0;
		top: 100%;
		text-transform:lowercase;
		list-style-type: none;
		background-color: red;
		min-width: 150px;
		z-index: 999;
	}

	nav ul li:hover > ul 
	{
		display: block;
	}


	nav ul ul li
	{
		background-color: yellow;
		display: block;
		position: relative;
	}


	nav ul ul li a
	{
		background-color: #f8f8f8;
		display: block;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
		border: 1px solid white;
	}

	nav ul ul li:hover
	{

	}

	nav ul ul li a:hover
	{
		background-color: #7db1e1;
		color: #ffffff;
	}

	#navSelected
	{
		color: #7db1e1;
	}


	/*====END OF HEADER====*/

	/*====PAGE TITLE====*/
	.pageTitle
	{
		width: 100%;
		height: 180px;
		background-color: #7db1e1;
		color: #ffffff;
	}

	.pageTitle h1
	{
		padding-top: 40px;

	}
	.pageTitle h1::after
	{
		 content:"";
		background-color: #ffffff;
		position: absolute;
		margin-top: 50px;
		left:50%;
		transform: translate(-50%, 0);
		height: 1px;
		width: 500px;
	}

	.pageTitle p
	{
		width: 300px;
		margin-left:50%;
		transform: translate(-50%, 0);
	}

	.pageTitle .wide
	{
		width: 600px;
		margin-left:50%;
		transform: translate(-50%, 0);
	}
	/*====END OF PAGE TITLE====*/

	/*====CARD====*/
	.card
	{
		background-color: #f8f8f8;
		width: 300px;
		height: 350px;
		border-bottom: 2px solid #7db1e1;
	}

	.icon
	{
		
	}

	.card h2
	{


	}
	/*====END OF CARD====*/


	
	/*====VERTICAL CARD LIST====*/
	.verticalCardList
	{
		width: 100%;
		background-color: #f8f8f8;
		text-align: center;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.verticalCardList .card
	{
		background-color: #ffffff;
		width: 240px;
		height: 200px;
		display: inline-block;
		vertical-align: top;
	}

	.verticalCardList h2
	{
		padding-top: 10px;

	}

	.verticalCardList .icon
	{
		width: 40%;
		height: auto;
		margin-top: 20px;
	}

	.verticalCardList p
	{
		/*display: inline-block;*/
		width: 83.33%;
		max-width: 500px;
		text-align: center;
		margin-left: 50%;
		transform: translate(-50%, 0);
		
	}

	.verticalCardList .ListElem
	{
		margin-bottom: 20px;
	}










	/*========TEAM PROFILES========*/
	.verticalCardList .profile_card
	{
		background-color: #ffffff;
		width: 200px;
		height: 150px;
		display: inline-block;
		vertical-align: top;
		margin-top: 20px;
		margin-bottom: 20px;

	}

	.verticalCardList .profile_card h2
	{
		margin: 0px;
  		padding: 0px;
		height: 15%;
		background-color: #ffffff;
		font-size: 100%;
	}


	.verticalCardList .profile_card .position
	{
		background-color: #7db1e1;
		color: #ffffff;
	}
	.verticalCardList .profile_picture
	{
		width: 100%;
		height: 70%;
	}

	.verticalCardList .profile_description
	{
		display: inline-block;
		width: 500px;
		text-align: center;
		transform: translate(0, 0);
		margin-left: 40px;
	}

	.verticalCardList .ProfileListElem_alt
	{
	
		background-color: #ffffff;
	}

	.verticalCardList .ProfileListElem
	{
		padding: 0px;
		margin: 0px;

	}
	/*========END OF TEAM PROFILES========*/


	/*====END OF VERTICAL CARD LIST====*/


	/*====HORIZONTAL CARD LIST====*/
	.horizontalCardList
	{
		width: 100%;
		text-align: center;
		background-color: #ffffff;
		padding-bottom: 15px;
	}

	.horizontalCardList .card
	{
		background-color: #f8f8f8;
		display: inline-block;
		vertical-align: bottom;
		margin-left: 2%;
		margin-right: 2%;
		transform: none;
	}


	.horizontalCardList h2
	{
		padding-top: 10px;

	}

	.horizontalCardList p
	{
		
		
	}

	.horizontalCardList .icon
	{
		width: 40%;
		height: auto;
		margin-top: 20px;
	}

	/*====END OF HORIZONTAL CARD LIST====*/

	/*====SLIDESHOW====*/

	.slideshow
	{
		position: relative;
	}

	.slideshowImg
	{
		height: 720px;
		width: auto;
	}

	.slideshowBtns
	{
		position: absolute;
		margin-left: 50%;
		transform: translate(-50%, 0);
		top: 90%;
		padding: 0;
	}

	.slideshowBtns ul
	{
		lsit-style-type: none;
		padding: 0;
		margin: 0;
	}

	.slideshowBtns ul li
	{
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
		cursor: pointer;
	}

	/*====END OF SLIDESHOW====*/

	/*====CONTACT====*/
	.contactContainer
	{
		background-color: #7db1e1;
		height: 100px;
		margin-top: 40px;
	}

	.contactContainer a
	{
		padding: 10px;
		margin-top: 50px;
		transform: translate(0, -50%);
		border: 1px solid #ffffff;
		text-decoration: none;
		color: #ffffff;
		font-size: 25px;
		font-weight: bold;
		display: inline-block;
	}

	.teamContactContainer
	{
		background-color: #7db1e1;
		height: 100px;
		margin-top: 0px;
	}

	.teamContactContainer a
	{
		padding: 10px;
		margin-top: 50px;
		transform: translate(0, -50%);
		border: 1px solid #ffffff;
		text-decoration: none;
		color: #ffffff;
		font-size: 25px;
		font-weight: bold;
		display: inline-block;
	}
	/*====END OF CONTACT====*/

	/*====FOOTER====*/
	footer
	{
		background-color: #000000;
		padding-bottom: 20px;
	}

	.friends a
	{
		margin-top: 2%;
		margin-left: 5%;
		margin-right: 5%;
		display: inline-block;
	}

	.friends img
	{
		width: 150px;
		height: auto;
	}
	/*====END OF FOOTER====*/


	#desc
	{
		width: 550px;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}
}