@media screen and (min-width: 600px) 
{
 /* ...desktop styles here... */ 
 
 body{
 /*background-color: green;*/
 }
	/*====HEADER====*/
	#header
	{
		margin-bottom: 0;
		height: 60px;
	}
	
	#logo 
	{
		margin-right: 60%;
	}
	
	#logo img
	{
		width: 200px;
		height: auto;
	}
	
	/*====END OF HEADER====*/

	/*====PAGE TITLE====*/
	.pageTitle p
	{
		max-width: 660px;
		font-size: 110%;
	}
	/*====END OF PAGE TITLE====*/

	/*====CARD====*/
	.card
	{
		width: 300px;
		height: 350px;
	}

	.icon
	{
		
	}

	.card h2
	{


	}
	/*====END OF CARD====*/





	/*====HORIZONTAL CARD LIST====*/
	.horizontalCardList
	{

	}

	.horizontalCardList .card
	{
		max-width: 300px;
	}

	.horizontalCardList h2
	{

	}

	.horizontalCardList p
	{
		
		
	}

	.horizontalCardList .icon
	{

	}

	/*====END OF HORIZONTAL CARD LIST====*/

	/*====SLIDESHOW====*/

	.slideshow
	{
		
	}

	.slideshowImg
	{
		
	}

	.slideshowBtns
	{
		
	}

	.slideshowBtns ul
	{
		
	}

	.slideshowBtns ul li
	{
		
	}

	/*====END OF SLIDESHOW====*/

	
	/*====CONTACT====*/
	.contactContainer
	{

	}

	/*====END OF CONTACT====*/




	#desc
	{
		width: 550px;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}
}