@media screen and (min-width: 800px) 
{
 /* ...desktop styles here... */ 
 
 body{
 background-color: orange;
 }
 
 
 /*====HEADER====*/
	#menu
	{
		display: none;
	}
 
	#header
	{

	}

	#logo 
	{
		display: inline-block;
		margin-right: 50px;
	}

	#logo img
	{
		width: 150px;
		height: auto;
	}

	nav
	{
		display: inline-block;
		vertical-align: top;
	}

	nav ul 
	{
		list-style-type: none;
		text-transform:uppercase;
		font-size: 18px;
		position: relative;
		display: inline-table;
		float: none;
		background-color: white;
		margin-left: 40px;
	}

	nav ul:after 
	{
		content: ""; 
		clear: both; 
		display: block;
	}
		
	nav ul li
	{
		display: inline-block;
		padding-right: 40px;
		border: none;
		padding: 0 40px 0 0;
	}
	
	nav ul li:last-child
	{
		padding: 0 0 0 0;
	}

	nav ul li a
	{
		color: #818181;
		text-decoration: none;
	}
	
	nav ul li a:hover
	{
		border-bottom: 2px solid #7db1e1;
	}

	nav ul ul 
	{
		display: none;
		position: absolute;
		padding: 0;
		margin-top: 0;
		top: 100%;
		/*left: 12%;*/
		text-transform:lowercase;
		list-style-type: none;
		width: auto;
		min-width: 150px;
		z-index: 999;
	}

	nav ul li:hover > ul 
	{
		display: block;
	}


	nav ul ul li
	{
		display: block;
		position: relative;
		width: 100%;
		padding: 0;
		border: 0;
	}
	
	nav ul ul li:first-child
	{
		border:0;
	}


	nav ul ul li a
	{
		background-color: #f8f8f8;
		display: block;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: 0;
		width: 100%;
		border: 1px solid white;
	}

	nav ul ul li:hover
	{

	}

	nav ul ul li a:hover
	{
		background-color: #7db1e1;
		color: #ffffff;
	}

	#navSelected
	{
		color: #7db1e1;
	}
	
	
 /*====END OF HEADER====*/
 
 /*====VERTICAL CARD LIST====*/
	.verticalCardList
	{
		
	}

	.verticalCardList .card
	{
		width: 25%;
		/*height: 200px;*/
	}

	.card h2
	{
		padding-top: 10px;
	}
	
	.two_headers h2
	{
		padding-top: 3px;
	}
	
	.verticalCardList .icon
	{
		
	}

	
	.verticalCardList p
	{
		display: inline-block;
		width: 500px;
		text-align: left;
		transform: translate(0, 30%); /*needs to be centred properly*/
		margin-left: 40px;
	}

	.verticalCardList .ListElem
	{
		
	}

	/*====END OF VERTICAL CARD LIST====*/
	
	


	/*====HORIZONTAL CARD LIST====*/
	.horizontalCardList
	{

	}

	.horizontalCardList .card
	{
		/*display: inline-block;
		margin-left: 2%;
		margin-right: 2%;
		transform: none;
		width: 23.4375%;
		max-width: 300px;*/
	}


	.horizontalCardList h2
	{
		

	}

	.horizontalCardList p
	{
		
		
	}

	.horizontalCardList .icon
	{

	}

	/*====END OF HORIZONTAL CARD LIST====*/
	
	
 }