@media screen and (min-width: 800px) 
{
 /* ...desktop styles here... */ 
 
 body{
 background-color: orange;
 }
 
 /*====VERTICAL CARD LIST====*/
	.verticalCardList
	{
		
	}

	.verticalCardList .card
	{
		width: 25%;
		/*height: 200px;*/
	}

	.verticalCardList h2
	{
		padding-top: 10px;
	}

	.verticalCardList .icon
	{
		
	}

	
	.verticalCardList p
	{
		display: inline-block;
		width: 500px;
		text-align: left;
		transform: translate(0, 60%);
		margin-left: 40px;
	}

	.verticalCardList .ListElem
	{
		margin-top: 20px;
		margin-bottom: 20px;
	}



	/*========TEAM PROFILES========*/
	.verticalCardList .profile_card
	{
		background-color: #ffffff;
		width: 200px;
		height: 150px;
		display: inline-block;
		vertical-align: top;
		margin-top: 20px;
		margin-bottom: 20px;

	}

	.verticalCardList .profile_card h2
	{
		margin: 0px;
  		padding: 0px;
		height: 15%;
		background-color: #ffffff;
		font-size: 100%;
	}


	.verticalCardList .profile_card .position
	{
		background-color: #7db1e1;
		color: #ffffff;
	}


	.verticalCardList .friend_card
	{
		background-color: #7db1e1;
		width: 200px;
		height: 150px;
		display: inline-block;
		vertical-align: top;
		margin-top: 20px;
		margin-bottom: 20px;

	}
	
	.verticalCardList .friend_card h2
	{
		margin: 0px;
  		padding: 0px;
		height: 15%;
		background-color: #ffffff;
		font-size: 100%;
	}


	.verticalCardList .friend_card .position
	{
		background-color: #7db1e1;
		color: #ffffff;
	}

	.verticalCardList .profile_picture
	{
		width: 100%;
		height: 70%;
	}

	.verticalCardList .friend_profile_picture
	{
		width: 100%;
		height: 70%;
		background: #000000;
	}

	.verticalCardList .profile_description
	{
		display: inline-block;
		width: 500px;
		text-align: left;
		transform: translate(0, 30%);
		margin-left: 40px;
	}

	.verticalCardList .ProfileListElem_alt
	{
	
		background-color: #ffffff;
	}

	.verticalCardList .ProfileListElem
	{
		padding: 0px;
		margin: 0px;

	}
	/*========END OF TEAM PROFILES========*/



	/*====END OF VERTICAL CARD LIST====*/
	
	


	/*====HORIZONTAL CARD LIST====*/
	.horizontalCardList
	{

	}

	.horizontalCardList .card
	{
		
	}


	.horizontalCardList h2
	{
		

	}

	.horizontalCardList p
	{
		
		
	}

	.horizontalCardList .icon
	{

	}

	/*====END OF HORIZONTAL CARD LIST====*/
	
	
 }