@media screen and (min-width: 900px) 
{
 /* ...desktop styles here... */ 
 
 body{
 background-color: white;
 }
	/*====HEADER====*/
	#header
	{

	}

	#logo 
	{
		
	}

	#logo img
	{
		width: 150px;
		height: auto;
	}
	/*====END OF HEADER====*/

	/*====PAGE TITLE====*/
	.pageTitle
	{
		width: 100%;
		height: 160px;
		background-color: #7db1e1;
		color: #ffffff;
		padding: 0;
	}

	.pageTitle h1
	{
		padding-top: 0;
	}
	
	.pageTitle h1::after
	{
		width: 60%;
		max-width: 500px;
	}

	.pageTitle p
	{
		max-width: 660px;
		font-size: 110%;
	}
	
	/*====END OF PAGE TITLE====*/

	/*====CARD====*/
	.card
	{
		width: 300px;
		height: 350px;
	}

	.icon
	{
		
	}

	.card h2
	{


	}
	/*====END OF CARD====*/


	/*====VERTICAL CARD LIST====*/
	.verticalCardList
	{

	}

	.verticalCardList .card
	{
		width: 240px;
		height: 200px;
	}

	.verticalCardList h2
	{
		
	}

	.verticalCardList .icon
	{
		width: 40%;
		height: auto;
		/*margin-top: 20px;*/
	}

	.verticalCardList p
	{
		
	}

	.verticalCardList .ListElem
	{

	}
	/*====END OF VERTICAL CARD LIST====*/


	/*====HORIZONTAL CARD LIST====*/
	.horizontalCardList
	{
		
	}

	.horizontalCardList .card
	{
		display: inline-block;
		margin-left: 2%;
		margin-right: 2%;
		transform: none;
		width: 23.4375%;
		max-width: 300px;
		min-width: 250px;
	}

	.horizontalCardList card h3
	{
		
	}

	.horizontalCardList p
	{
		
		
	}

	.horizontalCardList .icon
	{

	}

	/*====END OF HORIZONTAL CARD LIST====*/

	/*====SLIDESHOW====*/

	#slideshowContainer
	{
		height: 720px;
	}

	/*====END OF SLIDESHOW====*/

	/*====CONTACT====*/
	.contactContainer
	{
		
	}

	/*====END OF CONTACT====*/


	#desc
	{
		width: 550px;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}


}