@media screen and (min-width: 900px) 
{
 /* ...desktop styles here... */ 
 
 body{
 background-color: white;
 }
	/*====HEADER====*/
	#header
	{

	}

	#logo 
	{
		display: inline-block;
		margin-right: 50px;
	}

	#logo img
	{
		width: 150px;
		height: auto;
	}
/*
	nav
	{
		display: inline-block;
		vertical-align: top;
	}

	nav ul 
	{
		list-style-type: none;
		text-transform:uppercase;
		font-size: 18px;
		position: relative;
		display: inline-table;
		float: none;
		background-color: white;
		margin-left: 50px;
	}

	nav ul:after 
	{
		content: ""; 
		clear: both; 
		display: block;
	}
		
	nav ul li
	{
		display: inline-block;
		padding-right: 40px;
		border: none;
		padding: 0 40px 0 0;
	}
	
	nav ul li:last-child
	{
		padding: 0 0 0 0;
	}

	nav ul li a
	{
		color: #818181;
		text-decoration: none;
	}
	
	nav ul li a:hover
	{
		border-bottom: 2px solid #7db1e1;
	}

	nav ul ul 
	{
		display: none;
		position: absolute;
		padding: 0;
		top: 100%;
		left: 12%;
		text-transform:lowercase;
		list-style-type: none;
		width: auto;
		min-width: 150px;
		z-index: 999;
	}

	nav ul li:hover > ul 
	{
		display: block;
	}


	nav ul ul li
	{
		display: block;
		position: relative;
		width: 100%;
	}


	nav ul ul li a
	{
		background-color: #f8f8f8;
		display: block;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
		border: 1px solid white;
	}

	nav ul ul li:hover
	{

	}

	nav ul ul li a:hover
	{
		background-color: #7db1e1;
		color: #ffffff;
	}

	#navSelected
	{
		color: #7db1e1;
	}
*/

	/*====END OF HEADER====*/

	/*====PAGE TITLE====*/
	.pageTitle
	{
		width: 100%;
		height: 160px;
		background-color: #7db1e1;
		color: #ffffff;
	}

	.pageTitle h1
	{
		padding-top: 35px;
	}
	
	.pageTitle h1::after
	{
		content:"";
		background-color: #ffffff;
		position: absolute;
		margin-top: 50px;
		left:50%;
		transform: translate(-50%, 0);
		height: 1px;
		width: 60%;
		max-width: 500px;
	}

	.pageTitle p
	{
		width: 83.33%;
		max-width: 660px;
		margin-left:50%;
		transform: translate(-50%, 0);
		font-size: 110%;
	}

	.pageTitle .wide
	{
		width: 600px;
		margin-left:50%;
		transform: translate(-50%, 0);
	}
	/*====END OF PAGE TITLE====*/

	/*====CARD====*/
	.card
	{
		background-color: #f8f8f8;
		width: 300px;
		height: 350px;
		border-bottom: 2px solid #7db1e1;
	}

	.icon
	{
		
	}

	.card h2
	{


	}
	/*====END OF CARD====*/


	/*====VERTICAL CARD LIST====*/
	.verticalCardList
	{

	}

	.verticalCardList .card
	{
		width: 240px;
		height: 200px;
	}

	.verticalCardList h2
	{
		
	}

	.verticalCardList .icon
	{
		width: 40%;
		height: auto;
		/*margin-top: 20px;*/
	}

	.verticalCardList p
	{
		/*display: inline-block;
		width: 500px;
		text-align: left;
		transform: translate(0, 60%);
		margin-left: 40px;*/
	}

	.verticalCardList .ListElem
	{

	}



	/*========TEAM PROFILES========*/
	.verticalCardList .profile_card
	{
		background-color: #ffffff;
		width: 200px;
		height: 150px;
		display: inline-block;
		vertical-align: top;
		margin-top: 20px;
		margin-bottom: 20px;

	}

	.verticalCardList .profile_card h2
	{
		margin: 0px;
  		padding: 0px;
		height: 15%;
		background-color: #ffffff;
		font-size: 100%;
	}


	.verticalCardList .profile_card .position
	{
		background-color: #7db1e1;
		color: #ffffff;
	}


	.verticalCardList .friend_card
	{
		background-color: #7db1e1;
		width: 200px;
		height: 150px;
		display: inline-block;
		vertical-align: top;
		margin-top: 20px;
		margin-bottom: 20px;

	}
	
	.verticalCardList .friend_card h2
	{
		margin: 0px;
  		padding: 0px;
		height: 15%;
		background-color: #ffffff;
		font-size: 100%;
	}


	.verticalCardList .friend_card .position
	{
		background-color: #7db1e1;
		color: #ffffff;
	}

	.verticalCardList .profile_picture
	{
		width: 100%;
		height: 70%;
	}

	.verticalCardList .friend_profile_picture
	{
		width: 100%;
		height: 70%;
		background: #000000;
	}

	.verticalCardList .profile_description
	{
		display: inline-block;
		width: 500px;
		text-align: left;
		transform: translate(0, 30%);
		margin-left: 40px;
	}

	.verticalCardList .ProfileListElem_alt
	{
	
		background-color: #ffffff;
	}

	.verticalCardList .ProfileListElem
	{
		padding: 0px;
		margin: 0px;

	}
	/*========END OF TEAM PROFILES========*/



	/*====END OF VERTICAL CARD LIST====*/


	/*====HORIZONTAL CARD LIST====*/
	.horizontalCardList
	{
		
	}

	.horizontalCardList .card
	{
		display: inline-block;
		margin-left: 2%;
		margin-right: 2%;
		transform: none;
		width: 23.4375%;
		max-width: 300px;
	}

	.horizontalCardList card h3
	{
		
	}

	.horizontalCardList p
	{
		
		
	}

	.horizontalCardList .icon
	{

	}

	/*====END OF HORIZONTAL CARD LIST====*/

	/*====SLIDESHOW====*/

	.slideshow
	{
		position: relative;
	}

	.slideshowImg
	{
		height: 720px;
		width: auto;
	}

	.slideshowBtns
	{
		position: absolute;
		margin-left: 50%;
		transform: translate(-50%, 0);
		top: 90%;
		padding: 0;
	}

	.slideshowBtns ul
	{
		lsit-style-type: none;
		padding: 0;
		margin: 0;
	}

	.slideshowBtns ul li
	{
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
		cursor: pointer;
	}

	#slideshowContainer
	{
		display: inline-block;
		position: relative;
		width : 1920px;
		height : auto;
		overflow: hidden;
	}

	#nextSlideBtn
	{
		opacity: 0.4;
	    filter: alpha(opacity=40); 
		position:absolute; 
		left:1780px; 
		top:450px; 
		height:130px; 
		width: 130px;
		font-size:200%;
	}

	#prevSlideBtn
	{
		opacity: 0.4;
	    filter: alpha(opacity=40);
		position:absolute; 
		left:10px; 
		top:450px; 
		height:130px; 
		width: 128px;
		font-size:200%;

		-ms-transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
	    transform: rotate(180deg);
	}
	.gameBG
	{
		position: absolute;
	}

	/*====END OF SLIDESHOW====*/

	/*====CONTACT====*/
	.contactContainer
	{
		
	}

	/*====END OF CONTACT====*/


	#desc
	{
		width: 550px;
		margin-left: 50%;
		transform: translate(-50%, 0);
	}


}