html
{
	background-color: #ffffff;
}

body
{
	width: 100%;
	margin-left: 0px;
	margin-bottom: 0px;
}

*
{
	font-family: "Roboto", "Lucida Grande", sans-serif;
	text-align: center;
	/*remove border/outline from links in IE*/
	border:none;
	outline:none;
}

.container
{
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	position: relative;
}

/*====HEADER====*/
	#header
	{
		margin-bottom: 0;
		height: 45px;
	}

	#logo 
	{
		display: inline-block;
		margin-right: 30%;
		border:none;
		outline:none;
	}
	
	@media screen and (min-width: 350px) 
	{
		#logo 
		{
			margin-right: 40%;
		}
	}
	@media screen and (min-width: 420px) 
	{
		#logo 
		{
			margin-right: 50%;
		}
	}

	#logo img
	{
		width: 160px;
		height: auto;
	}
	
	#menu
	{
		width: 30px;
		height: auto;
		display: inline-block;
		cursor: pointer;
		padding-bottom: 5px;
	}

	nav
	{
		display: none;
		vertical-align: top;
		position: absolute;
		z-index: 999;
		width: 100%;
		margin-top: -10px;
	}

	nav ul 
	{
		list-style-type: none;
		text-transform:uppercase;
		font-size: 16px;
		background-color: #f8f8f8;
		float: left;
		width: 100%;
		padding: 0;
		
	}
		
	nav ul li
	{
		
		border-top: 1px solid rgba(110, 149, 243, 0.7);
		text-align: left;
		padding: 5px 0 5px 25px;
		cursor: pointer;
	}
	
	/*nav ul li:first-child
	{
		border: 0;
	}*/
	
	nav ul li:last-child
	{
		border-bottom: 1px solid rgba(110, 149, 243, 0.7);
	}
	
	nav ul li:hover
	{
		background-color: #6e95f3;
		color: #ffffff;
	}
	
	nav ul li:hover > a
	{
		background-color: inherit;
		color: #ffffff;
	}

	nav ul li a
	{
		/*color: #818181;*/
		color: #4c4c4c;
		text-decoration: none;
	}

	nav ul ul 
	{
		text-transform:lowercase;
		list-style-type: none;
		width: 100%;
		margin-top: 5px;
		margin-left: -10px;
	}

	nav ul ul li
	{
		background-color: #f4f4f4;
		margin-left: -15px;
		/*padding: 5px 0 5px 10px;*/
		text-align: left;
		width: 100%;
		border-top: 1px solid rgba(110, 149, 243, 0.5);
		color: #4c4c4c;
	}
	
	nav ul ul li:first-child
	{
		border-top: 1px solid rgba(110, 149, 243, 0.5);
	}
	
	
	nav ul ul li:last-child
	{
		border-bottom: 1px solid rgba(110, 149, 243, 0.7);
	}

	nav ul ul li a
	{
		background-color: #f4f4f4;
		color: #4c4c4c;
		/*padding-left: 20px;
		padding-right: 20px;*/
		width: 100%;
		margin-left: 30px;
	}

	nav ul ul li:hover
	{
		background-color: #8ba5e3;
	}

	nav ul ul li a:hover
	{
		background-color: inherit;
		color: #ffffff;
	}

	#navSelected
	{
		color: #6e95f3;
	}
	
	nav ul li:hover > #navSelected
	{
		background-color: #6e95f3;
		color: #ffffff;
	}

/*====END OF HEADER====*/

/*====PAGE TITLE====*/
.pageTitle
{
	width: 100%;
	height: 160px;
	
	background-color: #6e95f3;
	color: #ffffff;
	margin-top: 0;
	padding-top:5px;
	padding-bottom:5px;
}

.pageTitle h1
{
	margin-top: 0;
	padding: 0;
}
	
.pageTitle h1::after
{
	 content:"";
    background-color: #ffffff;
    position: absolute;
    margin-top: 50px;
    left:50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
    height: 1px;
    width: 60%;
	max-width: 500px;
}

.pageTitle p
{
	width: 83.33%;
	margin-left:50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
/*====END OF PAGE TITLE====*/

/*====CARD====*/
.card
{
	background-color: #f8f8f8;
	width: 23.4375%;
	height: 350px;
	border-bottom: 3px solid #6e95f3;
}

.icon
{
	
}

.card h2
{


}
/*====END OF CARD====*/


/*====VERTICAL CARD LIST====*/
.verticalCardList
{
	width: 100%;
	background-color: #f8f8f8;
	text-align: center;
	margin-bottom: 0;
}


.verticalCardList .card
{
	background-color: #ffffff;
	display: inline-block;
	width: 240px;
	height: 200px;
	vertical-align: top;
	overflow: hidden;
}

.verticalCardList h2
{
	padding-top: 10px;
}

.verticalCardList .icon
{
	width: 60%;
	height: auto;
	margin-top: 20px;
}

.verticalCardList p
{
	width: 83.33%;
	max-width: 500px;
	text-align: center;
	margin-left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.verticalCardList .ListElem
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.verticalCardList .alt
{
	background-color: #ffffff;
}

.two_headers h2
{
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ffffff;
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	font-size: 120%;
}

 .two_headers h3
{
	background-color: #6e95f3;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 105%;
	font-weight: normal;
	padding-top: 2px;
	padding-bottom: 2px;
}

.ListElem > img
{
	display: inline-block;
	width: 240px;
	height: auto;
	vertical-align: top;
}

.verticalCardList .profile_picture
{
	min-height: 140px;
	margin-left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

/*====END OF VERTICAL CARD LIST====*/


/*====HORIZONTAL CARD LIST====*/
.horizontalCardList
{
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	/*height: 500px;*/
}

.horizontalCardList .card
{
	background-color: #f8f8f8;
	vertical-align: bottom;
	margin-left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	margin-top: 25px;
	width: 50%;
	min-width: 250px;
}

.horizontalCardList h2
{
	color: #6e95f3;
	margin-top: 0;
	font-weight: normal;
	font-size: 180%;
	/*padding-top: 40px;*/
}

.horizontalCardList card h3
{
	padding-top: 10px;

}

.horizontalCardList p
{
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.horizontalCardList .icon
{
	/*width: 40%;*/
	height: 30%;
	width: auto;
	margin-top: 20px;
}

/*====END OF HORIZONTAL CARD LIST====*/


/*====FOOTER====*/
footer
{
	background-color: #000000;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-top: 0;
	margin-bottom: 0;
	min-height: 150px;
	color: #ffffff;
}

.footer_column
{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

footer .footer_column:first-child
{
	margin-top: 0;
}

.footer_column h2
{
	border-bottom: 1px solid #ffffff;
	text-align: left;
	font-size: 98%;
	font-weight: normal;
}

.footer_column p
{
	font-size: 95%;
	text-align: center;
	font-weight: normal;
}

.footer_column a
{
	color: #ffffff;
	text-decoration: none;
}

footer #friends a
{
	display: block;
	padding-top: 10px;
}

footer #friends a:first-of-type
{
	padding-top: 0px;
}

footer #friends img
{
	width: 120px;
	height: auto;
}

footer #friends img:hover
{
	opacity:0.7;
}

footer > a
{
	display: none;
}
/*====END OF FOOTER====*/



/*====Detailed Features====*/
.detailedFeatures
{
	width: 100%;
	background-color: #6e95f3;
	/*background-image: url("images/pattern.png");
    background-repeat: repeat;*/
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
}

.detailedFeatures h2
{
	color: #f8f8f8;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 180%;
}

.detailedFeatures .subHeader
{
	margin-top: 10px;
	font-size: 115%;
}

.feat
{
	margin-top: 50px;
	
	 display: -webkit-box;
    display: -moz-box;
    display: box;
    
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

.feat:first-child
{
	margin-top: 20px;
}

.thumbContainer
{
	overflow: hidden;
	width: 300px;
	height: 200px;
	border: 2px solid #ffffff;
	cursor: zoom-in;
	margin-left: auto;
	margin-right: auto;
}

.featDesc+.thumbContainer
{
	
}

.thumbContainer img
{
	width: 300px;
	height: auto;
	
	-webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
}



.featDesc
{
	width: 70%;
	max-width: 580px;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	position: relative;
	
	-webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
}

.thumbContainer+.featDesc
{
	
}

.featDesc h3
{
	color: white;
	font-weight: normal;
	font-size: 130%;
}

.featDesc p
{
	font-size: 110%;
	color: white;
}

/*====END OF Detailed Features====*/