/*====SLIDESHOW====*/

#slideshow
{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 500px;
}

#slides
{
	position: relative;
	width: 100%;
	height: inherit;
}

.slideContainer
{
	overflow: hidden;
	width: 100%;
	height: inherit;
	position: absolute;
}

.slideImage
{
	width: auto;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.fullWidth
{
	width: 100%;
	height: auto;
}
	
#hud
{
	position:absolute;
	top:0;
	width: 100%;
	height: 100%;
	/*z-index: 999;*/
}

.shiftSlideBtns
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.shiftSlideBtns input
{
	width: 50px;
	height: auto;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

#slideshowBtns
{
	position: absolute;
	margin-left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	top: 90%;
	padding: 0;
}

#slideshowBtns ul
{
	lsit-style-type: none;
	padding: 0;
	margin: 0;
}

#slideshowBtns ul li
{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

/*====END OF SLIDESHOW====*/


@media screen and (min-width: 600px) 
{
	#slideshow
	{
		height: 400px;
	}
	
	.slideImage
	{
		height: 400px;
		width: auto;
	}
	
	/*used when javascript not supported or disabled*/
	.coverContainer
	{
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		max-width: 150%;
		max-height: 150%;
	}

	.fullWidth
	{
		width: 100%;
		height: auto;
	}
	
}

@media screen and (min-width: 800px) 
{
	#slideshow
	{
		height: 450px;
	}
	
	.slideImage
	{
		width: auto;
		height: 450px;
	}
	
	.coverContainer
	{
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		max-width: 150%;
		max-height: 150%;
	}
	
	.fullWidth
	{
		width: 100%;
		height: auto;
	}
}

@media screen and (min-width: 900px)
{
	#slideshow
	{
		height: 620px;
	}

	.slideImage
	{
		height: 620px;
		width: auto;
	}
	
	.coverContainer
	{
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		max-width: none;
		max-height: none;
	}
	
	.fullWidth
	{
		width: 100%;
		height: auto;
	}

}